<?xml version="1.0" encoding="UTF-8"?>
<included>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <springProperty scope="context" name="logstashHost" source="logstash.host" defaultValue="localhost"/>
    <springProperty scope="context" name="logstashPort" source="logstash.port" defaultValue="5000"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${applicationName},%X{traceId:-},%X{spanId:-}] [%15.15t]
                %-40.40logger{39} : %m%n%wEx
            </pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${applicationName}"}</customFields>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <reconnectionDelay>5 seconds</reconnectionDelay>
        <appendTimeout>1 second</appendTimeout>
        <shutdownGracePeriod>2 seconds</shutdownGracePeriod>
    </appender>
</included>
